[*.cs]

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# CC0022: Should dispose object
dotnet_diagnostic.CC0022.severity = none
